name: Build APK
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libtinfo5

      - name: Build with Buildozer
        uses: digreatbrian/buildozer-action@v2
        with:
          buildozer_version: stable
